$bordes: 1px solid black;

@mixin textStyle($fontSizes, $fontWeight, $fontStyle){
    font-size: $fontSizes;
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }

@media only screen and (min-width:320px){

    body{
        background-image: linear-gradient(45deg, #f3def5, #FFF);
    }
    
    .header__title{
        text-align: center;
        border-bottom: 10px;
        font-size: 10px;
    
        h1{
            @include textStyle(4em, bolder, none);
            animation-duration: 3s;
            animation-name: aparecer;
        }
        h2{
            @include textStyle(2em, lighter, oblique);
            animation-duration: 3s;
            animation-name: aparecer;
            margin-bottom: 2%;
        }
        @keyframes aparecer {
            0%{opacity: 0;}
            100%{opacity: 1;}
          }
    }
    
    header .bg-light{
        background-color: #092327 !important;    
    }
    
    header .navbar-light .navbar-nav .nav-link{
        color: rgba(221, 221, 221, 0.618);
        text-align: center;
    }
    
    header .navbar-light .navbar-toggler-icon{
        background-image: url("https://img.icons8.com/fluent-systems-regular/30/ffffff/menu.png");
    }

    main .card{
        margin-bottom: 20px;
    }
    
    main .seccion h3{
    @include textStyle(20px, none, oblique);
    margin: 10px 0 0 12px;
    }
    
    main .publicaciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    @import "components/contacto";
    
    .card-body{
        text-align: center
    }
    
    @import "components/footer";

}

@media only screen and (min-width:768px){

    body{
        background-image: linear-gradient(45deg, #f3def5, #FFF);
    }
    
    .header__title{
        text-align: center;
        border-bottom: 10px;
        font-size: 10px;
    
        h1{
            @include textStyle(7em, bolder, none);
            animation-duration: 3s;
            animation-name: aparecer;
        }
        h2{
            @include textStyle(2.8em, lighter, oblique);
            animation-duration: 3s;
            animation-name: aparecer;
            margin-bottom: 2%;
        }
        @keyframes aparecer {
            0%{opacity: 0;}
            100%{opacity: 1;}
          }
    }
    
    header .bg-light{
        background-color: #092327 !important;    
    }
    
    header .navbar-light .navbar-nav .nav-link{
        color: rgba(221, 221, 221, 0.618);
        text-align: center;
        font-size: 20px;
    }
    
    header .navbar-light .navbar-toggler-icon{
        background-image: url("https://img.icons8.com/fluent-systems-regular/30/ffffff/menu.png");
    }
    
    @import "components/contacto";

    main .seccion h3{
    @include textStyle(28px, none, oblique);
    text-align: left;    
}
    
    main .publicaciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    main .card{
        margin-bottom: 30px;
    }
    
    .card-body{
        text-align: center
    }

    main .publicaciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
    justify-items: center;
}

    @import "components/footer";
}

@media only screen and (min-width: 1024px){

    
    *{
        font-family: 'Roboto Mono', monospace;
      }

    body{
        background-image: linear-gradient(45deg, #f3def5, #FFF);
        overflow-x: hidden;
    }
    
    .header__title{
        text-align: center;
        border-bottom: 10px;
        font-size: 10px;
    
        h1{
            @include textStyle(7em, bolder, none);
            animation-duration: 3s;
            animation-name: aparecer;
        }
        h2{
            @include textStyle(2.8em, lighter, oblique);
            animation-duration: 3s;
            animation-name: aparecer;
            margin-bottom: 2%;
        }
        @keyframes aparecer {
            0%{opacity: 0;}
            100%{opacity: 1;}
          }
    }
    
    header .bg-light{
        background-color: #092327 !important;
        height: 50px;
    }

    header .navbar-nav me-auto mb-2 mb-lg-0{
        margin: 0;
    }
    
    header .navbar-light .navbar-nav .nav-link{
        color: rgba(221, 221, 221, 0.618);
        text-align: center;
        font-size: 20px;
    }

    header .bg-light {
        background-color: #092327!important;
      }
    
      .navbar-light .navbar-nav .nav-link{
        color: #fff !important;
      }
    
      .navbar-brand{
        text-align: center;
      }
    
      .navbar-light .navbar-nav .nav-link:hover{
        background-color: #ef8354;
      }

      @import "components/contacto";    

    main .seccion h3{
    @include textStyle(28px, none, oblique);
    text-align: left;    
}
    
    main .card{
        margin-bottom: 30px;
    }
    
    .card-body{
        text-align: center
    }

    .card {
        position: relative;
        width: 50%;
      }
      
      .card-img-top{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .card-body {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .card:hover .card-img-top {
        opacity: 0.3;
      }
      
      .card:hover .card-body {
        opacity: 1;
      }
      
      .card-title{
        font-family: 'Architects Daughter', cursive;
      }

      .card-text{
        font-family: 'Architects Daughter', cursive;
      }

    main .publicaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    justify-items: center;
    justify-content: space-between;
}

    @import "components/footer";
 
    }
