
footer{
    background: #212121;
    padding: 25px 20px;
    width: 100vw;
}
footer .container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .ftr h3{
    font-size: 1.4em;
    margin-bottom: 1.2em;
    color: #fff;
}
footer .content{
    list-style:none;
}
footer .content a{
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

footer .ftr{
    flex-basis: 18%;
}

footer dl, ol, ul{
    padding: 1rem;
}

footer ul .content{
    padding-left: 22px;
}

form{
    display: flex;
    align-items: center;
    width: 100%;
}
input{
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: #f5f5f5;
}
.btn input{
    background: blueviolet;
    color: #fff;
}
.btn input:hover{
    background: #000;
}
