@media only screen and (min-width: 320px) {
  body {
    background-image: linear-gradient(45deg, #f3def5, #FFF); }
  .header__title {
    text-align: center;
    border-bottom: 10px;
    font-size: 10px; }
    .header__title h1 {
      font-size: 4em;
      font-weight: bolder;
      font-style: none;
      animation-duration: 3s;
      animation-name: aparecer; }
    .header__title h2 {
      font-size: 2em;
      font-weight: lighter;
      font-style: oblique;
      animation-duration: 3s;
      animation-name: aparecer;
      margin-bottom: 2%; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  header .bg-light {
    background-color: #092327 !important; }
  header .navbar-light .navbar-nav .nav-link {
    color: rgba(221, 221, 221, 0.618);
    text-align: center; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url("https://img.icons8.com/fluent-systems-regular/30/ffffff/menu.png"); }
  main .card {
    margin-bottom: 20px; }
  main .seccion h3 {
    font-size: 20px;
    font-weight: none;
    font-style: oblique;
    margin: 10px 0 0 12px; }
  main .publicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
  main .formulario {
    width: 50vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh; }
  .col-12 {
    text-align: center; }
  .col-md-6 {
    text-align: center; }
  .mb-3 {
    text-align: center; }
  .card-body {
    text-align: center; }
  footer {
    background: #212121;
    padding: 25px 20px;
    width: 100vw; }
  footer .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
  footer .ftr h3 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    color: #fff; }
  footer .content {
    list-style: none; }
  footer .content a {
    text-decoration: none;
    color: #fff;
    line-height: 30px; }
  footer .ftr {
    flex-basis: 18%; }
  footer dl, ol, ul {
    padding: 1rem; }
  footer ul .content {
    padding-left: 22px; }
  form {
    display: flex;
    align-items: center;
    width: 100%; }
  input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: #f5f5f5; }
  .btn input {
    background: blueviolet;
    color: #fff; }
  .btn input:hover {
    background: #000; } }

@media only screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(45deg, #f3def5, #FFF); }
  .header__title {
    text-align: center;
    border-bottom: 10px;
    font-size: 10px; }
    .header__title h1 {
      font-size: 7em;
      font-weight: bolder;
      font-style: none;
      animation-duration: 3s;
      animation-name: aparecer; }
    .header__title h2 {
      font-size: 2.8em;
      font-weight: lighter;
      font-style: oblique;
      animation-duration: 3s;
      animation-name: aparecer;
      margin-bottom: 2%; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  header .bg-light {
    background-color: #092327 !important; }
  header .navbar-light .navbar-nav .nav-link {
    color: rgba(221, 221, 221, 0.618);
    text-align: center;
    font-size: 20px; }
  header .navbar-light .navbar-toggler-icon {
    background-image: url("https://img.icons8.com/fluent-systems-regular/30/ffffff/menu.png"); }
  main .formulario {
    width: 50vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh; }
  .col-12 {
    text-align: center; }
  .col-md-6 {
    text-align: center; }
  .mb-3 {
    text-align: center; }
  main .seccion h3 {
    font-size: 28px;
    font-weight: none;
    font-style: oblique;
    text-align: left; }
  main .publicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
  main .card {
    margin-bottom: 30px; }
  .card-body {
    text-align: center; }
  main .publicaciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; }
  footer {
    background: #212121;
    padding: 25px 20px;
    width: 100vw; }
  footer .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
  footer .ftr h3 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    color: #fff; }
  footer .content {
    list-style: none; }
  footer .content a {
    text-decoration: none;
    color: #fff;
    line-height: 30px; }
  footer .ftr {
    flex-basis: 18%; }
  footer dl, ol, ul {
    padding: 1rem; }
  footer ul .content {
    padding-left: 22px; }
  form {
    display: flex;
    align-items: center;
    width: 100%; }
  input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: #f5f5f5; }
  .btn input {
    background: blueviolet;
    color: #fff; }
  .btn input:hover {
    background: #000; } }

@media only screen and (min-width: 1024px) {
  * {
    font-family: 'Roboto Mono', monospace; }
  body {
    background-image: linear-gradient(45deg, #f3def5, #FFF);
    overflow-x: hidden; }
  .header__title {
    text-align: center;
    border-bottom: 10px;
    font-size: 10px; }
    .header__title h1 {
      font-size: 7em;
      font-weight: bolder;
      font-style: none;
      animation-duration: 3s;
      animation-name: aparecer; }
    .header__title h2 {
      font-size: 2.8em;
      font-weight: lighter;
      font-style: oblique;
      animation-duration: 3s;
      animation-name: aparecer;
      margin-bottom: 2%; }
  @keyframes aparecer {
    0% {
      opacity: 0; }
    100% {
      opacity: 1; } }
  header .bg-light {
    background-color: #092327 !important;
    height: 50px; }
  header .navbar-nav me-auto mb-2 mb-lg-0 {
    margin: 0; }
  header .navbar-light .navbar-nav .nav-link {
    color: rgba(221, 221, 221, 0.618);
    text-align: center;
    font-size: 20px; }
  header .bg-light {
    background-color: #092327 !important; }
  .navbar-light .navbar-nav .nav-link {
    color: #fff !important; }
  .navbar-brand {
    text-align: center; }
  .navbar-light .navbar-nav .nav-link:hover {
    background-color: #ef8354; }
  main .formulario {
    width: 50vw;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh; }
  .col-12 {
    text-align: center; }
  .col-md-6 {
    text-align: center; }
  .mb-3 {
    text-align: center; }
  main .seccion h3 {
    font-size: 28px;
    font-weight: none;
    font-style: oblique;
    text-align: left; }
  main .card {
    margin-bottom: 30px; }
  .card-body {
    text-align: center; }
  .card {
    position: relative;
    width: 50%; }
  .card-img-top {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden; }
  .card-body {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; }
  .card:hover .card-img-top {
    opacity: 0.3; }
  .card:hover .card-body {
    opacity: 1; }
  .card-title {
    font-family: 'Architects Daughter', cursive; }
  .card-text {
    font-family: 'Architects Daughter', cursive; }
  main .publicaciones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    justify-content: space-between; }
  footer {
    background: #212121;
    padding: 25px 20px;
    width: 100vw; }
  footer .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; }
  footer .ftr h3 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
    color: #fff; }
  footer .content {
    list-style: none; }
  footer .content a {
    text-decoration: none;
    color: #fff;
    line-height: 30px; }
  footer .ftr {
    flex-basis: 18%; }
  footer dl, ol, ul {
    padding: 1rem; }
  footer ul .content {
    padding-left: 22px; }
  form {
    display: flex;
    align-items: center;
    width: 100%; }
  input {
    border: none;
    outline: none;
    padding: 10px;
    margin: 5px 0;
    background: #f5f5f5; }
  .btn input {
    background: blueviolet;
    color: #fff; }
  .btn input:hover {
    background: #000; } }
